
body {
  /*width: 100%;*/
   /* background: #fff;*/
  font-family: 'Open Sans', sans-serif;
}

/* Menu */

.logo {
  bottom: 10px;
  padding: 10px;
}

.nav-footer { 
background: #444040;
align-items: center;
}
.license {
  text-decoration: : white;
}

#contato { 
  text-align: center;
  position: relative;
  background: #d68045;
  color: white;
}


#topnav {
overflow: hidden;
text-align: center; 
background-color: #b25432;

}

#topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #b25432;
}

#topnav a:hover {
  background-color: #fdc9b4;
  color: black;
}

#topnav a.active {
    background-color: #fdc9b4;
    color: white;
}
 /* Banner Figure  */

#bannerZero{
  display: block;
  width: 100%;
    position: relative;
}
 // figure#bannerZero figcaption{
  width: 130px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  padding: 30px 10px 10px;
  background-color: rgba(115, 77, 38, 0.6);
  text-align: center;
  font-size: 120%;
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 300px;
 }

 

/* h1, h2, h3, p ,form */

h1{ visibility: hidden;

}

h2{
    text-align: center;
    font-size: 300%;
    padding: 10px 30px 0px 70px;
    color: darkred;

}


 h3 {
    padding: 20px 30px 0px 70px;
    color: darkred;
    font-size: 200%;

 }
h4 {
  float: right;
  font-size: 80%;
}


  p {
    padding: 0px 0px 0px 70px;
    color: black;

    }

form {
  display: block;
  text-align: left;
  padding: 20px 280px;
}


/*  Section Artigos */
 

section#artigos article{
  width: 30%;
  box-sizing: border-box;
}

section#artigos article img{
float: left;
margin: 20px 10px 10px 10px;
width: 100px;
height: 100px;
}


#bannerOne{ 
  float: left;
}

#bannerTwo{
  float: right;
}

/* Mensagem box */

#mensagem{
  width: 200px;
  height: 100px;
}

textarea{
  resize: none;
}



/* Imagem */

img {
    display: block;
    margin: auto;
  }


/* Link Style */

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #990099  ;
    background-color: transparent;
    text-decoration: underline;
} 

/*cardapio table */
table, th, td {
    border: none;
}
table{
    border-collapse: collapse;
width: 100%;

th{
  height: 30%;
  width: 30%;
}


th, td {
    padding: 5px;
    text-align: left;

}
#fotos{
  float: left;  
}

/* Local Map */




